<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLKComplicationSupportedFamilies</key>
	<array>
		<string>CLKComplicationFamilyCircularSmall</string>
		<string>CLKComplicationFamilyModularSmall</string>
		<string>CLKComplicationFamilyGraphicCircular</string>
	</array>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>WKAppBundleIdentifier</key>
			<string>ungchun.coupleDayProject.watchkitapp</string>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.watchkit</string>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>GangwonEduAllBold.otf</string>
		<string>GangwonEduAllLight.otf</string>
	</array>
</dict>
</plist>
